<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Nails design inspo</h1>

    <p>Here is a collection of some of the most inspiring designs I have found for nails.
    Hope this selections helps you find your next idea for decorating your hands!</p>
  </div>
</body>

<%# <%= link_to "Contacto", contact_path %>
